@model Abot.SiteSimulator.Models.PageSpecs

@{
    ViewBag.Title = "GeneratedPage";
}

<h2>Generated Page</h2>

@for(int i = 0; i < Model.Status200Count; i++) 
{
  @Html.ActionLink("Click me to see a 200 status", "Status200/Page" + (i + Model.Status200StartingIndex), "HttpResponse", null, null)<br />
}    
@for (int i = 0; i < Model.Status403Count; i++)
{
  @Html.ActionLink("Click me to see a 403 status", "Status403/Page" + (i + Model.Status403StartingIndex), "HttpResponse", null, null)<br />    
}    
@for (int i = 0; i < Model.Status404Count; i++)
{
  @Html.ActionLink("Click me to see a 404 status", "Status404/Page" + (i + Model.Status404StartingIndex), "HttpResponse", null, null)<br />        
}   
@for (int i = 0; i < Model.Status500Count; i++)
{
  @Html.ActionLink("Click me to see a 500 status", "Status500/Page" + (i + Model.Status500StartingIndex), "HttpResponse", null, null)<br />        
}    
@for (int i = 0; i < Model.Status503Count; i++)
{
  @Html.ActionLink("Click me to see a 503 status", "Status503/Page" + (i + Model.Status503StartingIndex), "HttpResponse", null, null)<br />
}  


@{
    var text = "<div><div><div><div>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div></div></div></div>";
    for (int i = 0; i < 30; i++)
    {
        @Html.Raw(text);
    }
}